<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypro.ssm.mapper.QuestionMapper">

    <resultMap id="questionResultMap" type="question">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="content" column="content"/>
        <result property="stage" column="stage"/>
        <result property="lastReviewTime" column="last_review_time"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="table_columns">
        `id`,
        `category_id`,
        `content`,
        `stage`,
        `last_review_time`,
        `gmt_create`,
        `gmt_modified`,
        `is_deleted`
    </sql>

    <sql id="entity_properties">
        #{id},
        #{categoryId},
        #{content},
        #{stage},
        #{lastReviewTime},
        #{gmtCreate},
        #{gmtModified},
        #{isDeleted}
    </sql>

    <!--条件查询-->
    <sql id="where">
        <where>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="stage != null">and stage = #{stage}</if>
            <if test="lastReviewTime != null">and last_review_time = #{lastReviewTime}</if>
            <if test="gmtCreate != null">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null">and gmt_modified = #{gmtModified}</if>
            <if test="isDeleted != null">and is_deleted = #{isDeleted}</if>
        </where>
    </sql>

    <!-- 适用于主键自增类型 -->
    <insert id="insert" parameterType="question" useGeneratedKeys="true" keyProperty="id">
        insert into `question`(
        <include refid="table_columns"/>
        )
        values (
        <include refid="entity_properties"/>
        )
    </insert>

    <insert id="insertSelective" parameterType="question" useGeneratedKeys="true" keyProperty="id">
        insert into `question`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="stage != null">
                stage,
            </if>
            <if test="lastReviewTime != null">
                last_review_time,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="categoryId != null">
                #{categoryId},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="stage != null">
                #{stage},
            </if>
            <if test="lastReviewTime != null">
                #{lastReviewTime},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                #{gmtModified},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
        </trim>
    </insert>

    <delete id="deleteById">
        delete from `question`
        where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from `question`
        where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="delete" parameterType="question">
        delete from `question`
        <include refid="where"/>
    </delete>

    <update id="update" parameterType="question">
        update `question`
        <trim prefix="set" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="stage != null">stage = #{stage},</if>
            <if test="lastReviewTime != null">last_review_time = #{lastReviewTime},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <select id="find" parameterType="question" resultMap="questionResultMap">
        SELECT
        <include refid="table_columns"/>
        FROM `question`
        <include refid="where"/>
    </select>

    <select id="findAll" resultMap="questionResultMap">
        select
        <include refid="table_columns"/>
        from `question`
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM `question`
        <include refid="where"/>
    </select>

    <select id="findById" resultMap="questionResultMap" parameterType="long">
        select
        <include refid="table_columns"/>
        from `question`
        where id = #{id}
    </select>
    <select id="findByCategory" resultMap="questionResultMap">
        select
        <include refid="table_columns"/>
        from `question`
        where category_id = #{categoryId}
    </select>

</mapper>

