<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypro.ssm.mapper.RolePermissionMapper">
	<resultMap id="rolePermissionResultMap" type="rolePermission">
		<result property="roleId" column="role_id" />
		<result property="permissionId" column="permission_id" />
	</resultMap>
	
	<sql id="table_columns">
		`role_id`,
		`permission_id`
    </sql>

    <sql id="entity_properties">
			#{roleId},
			#{permissionId}
    </sql>

    <!--条件查询-->
    <sql id="where">
        <where>
            	<if test="permissionId != null and permissionId != ''">and permission_id = #{permissionId}</if>
        </where>
    </sql>

	<!-- 适用于主键自增类型 -->
	<insert id="insert" parameterType="rolePermission" useGeneratedKeys="true" keyProperty="id">
		insert into `role_permission`( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>

    <insert id="insertSelective" parameterType="rolePermission" useGeneratedKeys="true" keyProperty="id">
        insert into `role_permission`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="permissionId != null">
                #{permissionId},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from `role_permission`
        where id = #{id}
    </delete>

	<delete id="deleteByIds" parameterType="list">
		delete from `role_permission`
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

    <delete id="delete" parameterType="rolePermission">
        delete from `role_permission`
        <include refid="where"/>
    </delete>
	
	<update id="update" parameterType="rolePermission">
		update `role_permission` 
		<trim prefix="set" suffixOverrides=",">
			<if test="permissionId != null and permissionId != ''">permission_id = #{permissionId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>

    <select id="find" resultMap="rolePermissionResultMap">
        SELECT 	<include refid="table_columns"/>
        FROM 	`role_permission`
        <include refid="where"/>
    </select>

    <select id="findAll" resultMap="rolePermissionResultMap">
        select <include refid="table_columns" />
        from `role_permission`
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT 	count(1)
        FROM 	`role_permission`
        <include refid="where"/>
    </select>

    <select id="findById" resultMap="rolePermissionResultMap" parameterType="int" >
        select <include refid="table_columns" />
        from `role_permission`
        where id = #{id}
    </select>

    <!-- 其他自定义SQL -->
</mapper>